<%
##
# Available locals
#
# {String} link - The link(url) to the instagram post
# {String} picture - The posted image(url)
%>

<a href="<%= link %>" target="_blank">
  <img src="<%= picture %>" class="ixsocial__picture ixsocial__picture--instagram" />
</a>
