<!DOCTYPE html>
<html>
<head>
  <title>IxSocial</title>
  <%= stylesheet_link_tag    "ix_social/application", media: "all" %>
  <%= javascript_include_tag "is_social/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
