<%
##
# Available locals
#
# {String} link - The link(url) to the instagram post
# {String} caption - The post caption.
%>
<a href="<%= link %>" target="_blank" class="socialrails__text socialrails__text--instagram">
<%= caption %>
</a>
