<%
##
# Available locals
#
# {String} link - The link(url) attached to this post
# {String} message - The status message in the post.
%>

<a href="<%= link %>" target="_blank" class="socialrails__text socialrails__text--facebook">
  <%= message %>
</a>
