<%
##
# Available locals
#
# {Bool} has_full_picture - Some posts don't have a picture attached.
# {String} full_picture - The picture(url) scraped from any link included with the post.
# {String} link - The link(url) attached to this post
# {String} message - The status message in the post.
%>

<% if has_full_picture %>
<a href="<%= link %>" target="_blank">
  <img src="<%= full_picture %>" class="socialrails__picture socialrails__picture--facebook" />
</a>
<% end %>
